<article class="festival-card" [routerLink]="['/festivals', festival.id]" style="cursor: pointer;">
  <header>
    <h3 class="festival-name">{{ festival.name }}</h3>
    <p class="festival-location"><strong>Lieu :</strong> {{ festival.location }}</p>

    <div class="festival-dates">
      <p><strong>Début :</strong> {{ festival.displayDateDebut }}</p>
      <p><strong>Fin :</strong> {{ festival.displayDateFin }}</p>
    </div>
  </header>

  <div class="festival-body">


    @if (festival.description && festival.description.length > 0) {
    <p class="festival-description">
      {{ festival.description }}
    </p>
    }
  </div>

  @if (auth.isAdmin()) {
  <footer class="actions" (click)="$event.stopPropagation()">
    <a class="primary-button" [routerLink]="['/reservations']" [queryParams]="{ festivalId: festival.id }">
      Gérer les réservations
    </a>

    <a class="secondary-button" [routerLink]="['/festivals', festival.id, 'edit']">
      Modifier
    </a>
  </footer>
  }
</article>